
  
 * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins';
    }

    .banner{
        height: 100vh;
        background-color: #ADADC9;
    }
    nav{
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        width: 100vw;
        z-index: 1;
        }
    
        nav > li{
            margin-top: 100px;
            padding-top: 10px;
            list-style: none;
            display:inline-block
            }
        nav > li > a{
            color: black;
            font-weight: bold;
            text-decoration: none;
        }
        li > a {
            text-decoration: none;}
        .text-message{
            padding-top: 300px;
            padding-left: 130px;
        }

        .text-message > h2{
            font-size: 50px;
            font-weight: 600;
            }
            .orange{
                color: #EAAB1B;
            }
        .circle {
            border-radius: 0 0 50% 50%/0 0 100% 100%;
            background: #649549;
            width: 70vw;
            height: 70vh;
            transform: translateX(50%);
        }
        .rotating-dish {
            overflow: hidden;
            border: 3px dashed #6cb840;
            margin-top: 380px;
            margin-left: 400px;
            width: 550px;
            height: 600px;
            border-radius: 50%;
        }
        
        .rotating-dish img {
            z-index: 1;
            position: absolute;
            margin-top: 200px;
            margin-left: 220px;
            width: 100px;
            height: 100px;
        }
        
        .rotating-dish img:first-child {
            transform: rotate(0deg) translateY(-250px);
        }
        
        .rotating-dish img:nth-child(2) {
            transform: rotate(45deg) translateY(-250px);
        }
        
        .rotating-dish img:nth-child(3) {
            transform: rotate(90deg) translateY(-250px);
        }
        
        .rotating-dish img:nth-child(4) {
            transform: rotate(-45deg) translateY(-250px);
        }
        
        .rotating-dish img:nth-child(5) {
            transform: rotate(-90deg) translateY(-250px);
        }
        
        .focus-dish {
            position: relative;
            margin-left: 63%;
            bottom: 15%;
        }
        
        .focus-dish > img {
            height: 300px;
            width: 300px;
        }
        button{
            background-color: green;
            color:white;
            border-radius: 50px;
            padding: 10px;
            width: 200px;
            border: hidden;
            font-size: large;
            margin-top: 20px;
        }
        .send{background-color: green;
            color:white;
            border-radius: 50px;
            padding: 10px;
            width: 100px;
            border: hidden;
            margin-top: 20px;

        }
        
        .dinner{
            display: flex;
        }
        .couple{
            margin: 300px 300px 0px 0px;
            text-align: center;
        }

        .couple > h2{
            font-size: 50px;
            font-weight: bold;
            color: #EAAB1B;
        }
        .couple > p {
            font-size: 20px;
        }

        .burgers{
            background-color: #C9ECB5;
            margin-top: 50px;
            margin-bottom: 50px;
            padding-bottom: 100px;
            height: auto;
            text-align: center;
        }
        .burger-king{
            display: flex;
            background-color: #C9ECB5;
            display: grid;
            padding-right: 100px;
            grid-template-columns: repeat(3, 1fr);
        }
        .pic{
            padding-top: 50px;
        }
        .pic img{
            position: absolute;
            margin-top: 50px;
            margin-left: 70px;
            height: 150px;
            width: 200px;
        }
        .description{
            background-color: white;
            padding: 20px;
            margin-left: 120px;
            width: 350px;
            border-bottom-right-radius: 50px;
        }
        .description > p{
            margin-left: 80px;
            text-align: center;
        }

        .hot-deals{
            background-color: #74a856;
            margin-top: 50px;;
            padding-top: 20px;
        }
        h1{color: green;}
        .hot-deals > h2{
            text-align: center;
        }

        .hot-deals > .juice{
            position: relative;
        }
        .hot-deals > .meat{
            position: absolute;
            width: 100px;
            height: 50px;
        }
  span{
    color: #6CB840;
    }

    #contact{
        background-color: #FFD77C;
        float: ;
    }

.row{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;}







input{border-radius: 50px;
    padding-left: 20px;
    padding: 20px;
    border: none;
    height: 30px;
width: 400px;}

#footer{
    background-color: #C9ECB5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
   }
   .column{
    display: table;
    justify-content: space-around;
    flex-direction: row;
    float: left;
    width: 25%
    
    }
   .content{
    padding: 10px;
    margin: 10px 10px 10px 0px;
    }
#time{
    margin-right: 20px;
    border-right: dashed #95b980;
    }

#location{
    margin-left: 20px;
    }
#social-media{
    margin-left: 50px;
    justify-content: right;
    }
    
#icon{
    position: relative;
        float: right;
        width: 10%;
        margin-top: 50px;
        display:flex;
        flex-wrap: no-wrap;
        align-items: center; 
        z-index: 1;
     }
     #button{
        color: rgb(255,255,255);
        background-color: #6CB840;
        border-radius: 100px;
        padding: 5px;
        margin: 10px;
        width: 400px;
        height: 30px;
        }