
<<<<<<< HEAD
=======

>>>>>>> master
  
 body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins';
    overflow-x: hidden;
    }

    .banner{
        height: 500px;
        background-color: #ADADC9;
        overflow: hidden;
    }
    nav{
        display: flex;
        position: absolute;
        padding: 0px;
        margin: 0px;
        justify-content: space-between;
        text-align: center;
        z-index: 1;
        }
    
        nav li{
            margin-top: 100px;
            padding-top: 50px;
            list-style: none;
            display:inline-block
            }
        nav li  a{
            color: black;
            font-weight: bold;
            text-decoration: none;

        }
        .circle {
            border-radius: 0 0 50% 50%/0 0 100% 100%;
            background: #649549;
            width: 70vw;
            height: 70vh;
            transform: translateX(50%);
        }
        .rotating-dish {
            overflow: hidden;
            border: 3px dashed #6cb840;
            margin-top: 380px;
            margin-left: 400px;
            width: 550px;
            height: 600px;
            border-radius: 50%;
        }
        
        .rotating-dish img {
            z-index: 1;
            position: absolute;
            margin-top: 200px;
            margin-left: 220px;
            width: 100px;
            height: 100px;
        }
        
        .rotating-dish img:first-child {
            transform: rotate(0deg) translateY(-250px);
        }
        
        .rotating-dish img:nth-child(2) {
            transform: rotate(45deg) translateY(-250px);
        }
        
        .rotating-dish img:nth-child(3) {
            transform: rotate(90deg) translateY(-250px);
        }
        
        .rotating-dish img:nth-child(4) {
            transform: rotate(-45deg) translateY(-250px);
        }
        
        .rotating-dish img:nth-child(5) {
            transform: rotate(-90deg) translateY(-250px);
        }
        
        .focus-dish {
            position: relative;
            margin-left: 63%;
            bottom: 15%;
        }
        
        .focus-dish > img {
            height: 300px;
            width: 300px;
        }
        
        .dinner{
            position: relative;
        }
        .couple{
            margin: 300px 300px 0px 0px;
            float: right;
            text-align: center;
        }

        .couple > h2{
            font-size: 50px;
            font-weight: bold;
            color: #EAAB1B;
        }
        .couple > p {
            font-size: 20px;
        }
  span{
    color: #6CB840;
    }





.row{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;}







input{border-radius: 30px;
    padding-left: 20px;
    border: none;
    height: 30px;}

#footer{
    background-color: #C9ECB5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
   }
   .column{
    display: table;
    justify-content: space-around;
    flex-direction: row;
    float: left;
    width: 25%
    
    }
   .content{
    padding: 10px;
    margin: 10px 10px 10px 0px;
    }
#time{
    margin-right: 20px;
    border-right: dashed #95b980;
    }

#location{
    margin-left: 20px;
    }
#social-media{
    margin-left: 50px;
    justify-content: right;
    }
    
#icon{
        float: right;
        width: 10%;
        margin-top: 50px;
        display:flex;
        flex-wrap: wrap;
        align-items: center; 
     }
     #button{
        color: rgb(255,255,255);
        background-color: #6CB840;
        border-radius: 100px;
        padding: 5px;
        margin: 10px;
        width: 400px;
        height: 30px;
        }