 
 body {
    margin: 50px;
    box-sizing: border-box;
    font-family: 'Poppins';
    }

    .banner{
        height: 80vh;
        background-color: #ADADC9;
        overflow: hidden;
    }
    nav{
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        width: 100vw;
        z-index: 1;
        }
    
        nav > li{
            margin-top: 20px;
            padding-top: 10px;
            padding-bottom: 0px;
            list-style: none;
            display:inline-block
            }
        nav > li > a{
            color: black;
            font-weight: bold;
            text-decoration: none;
        }
        li > a {
            text-decoration: none;}

        .text-message{
            padding-top: 100px;
            padding-left: 130px;
            font-size: 20px;
        }

        .text-message > h2{
            font-size: 50px;
            font-weight: 600;
            }
            .orange{
                color: #EAAB1B;
        }
        .eclipse{
            background-color: #649549;
            border-radius: 0 0 50% 50%/0 0 100% 100%;
            width: 50vw;
            height: 50vh;
            transform: translateX(50%);
            margin-left: 200px;
            margin-bottom: 300px;
            
        }
        .circle {
            position: relative;
            background-color: #649549;
            border: 2px dashed #6cb840;
            width: 24em;
            height: 24em;
            border-radius: 50%;
            padding: 0em;
        }
        .circle a{
            position: absolute;
            display: block;
            top: 50%;
            left: 50%;
            width: 4em;
            height: 4em;
        }
        .circle img {
            display: block;
        }
        .one{
            transform: translate(12em);}
        .two{
            transform: rotate(60deg) translate(12em) rotate(-60deg);}
        .three{
            transform: rotate(120deg) translate(12em) rotate(-120deg);}
        .four{
            transform: translate(-12em);}
        .five{
            transform: rotate(240deg) translate(12em) rotate(-240deg);}
        
        
        button{
            background-color: green;
            color:white;
            border-radius: 50px;
            padding: 10px;
            width: 200px;
            border: hidden;
            font-size: large;
            margin-top: 20px;
        }
        .send{background-color: green;
            color:white;
            border-radius: 50px;
            padding: 10px;
            width: 100px;
            border: hidden;
            margin-top: 20px;

        }
        
        .dinner{
            height: 60vh;
            display: flex;
            
            padding-top: 0px;
            margin-bottom: 0px;
        }
        .couple{
            margin: 120px 300px 0px 0px;
            text-align: center;
        }

        .couple > h2{
            font-size: 50px;
            font-weight: bold;
            color: #EAAB1B;
        }
        .couple > p {
            font-size: 20px;
        }

        .burgers{
            background-color: #C9ECB5;
            margin-top: 0px;
            margin-bottom: 0px;
            padding-bottom: 0px;
            height: auto;
            text-align: center;
        }
        .burgers > h2{
            padding-top: 20px;
            font-size: 30px;
        }
        .burger-king{
            display: flex;
            background-color: #C9ECB5;
            display: grid;
            padding-right: 100px;
            grid-template-columns: repeat(3, 1fr);
        }
        .pic{
            padding-top: 50px;
        }
        .pic img{
            position: absolute;
            margin-top: 50px;
            margin-left: -250px;
            height: 150px;
            width: 200px;
        }
        .description{
            background-color: white;
            padding: 20px;
            margin-left: 120px;
            width: 350px;
            border-bottom-right-radius: 50px;
        }
        .description > p{
            margin-left: 80px;
            text-align: center;
        }

        .hot-deals{
            background-color: #92b97c;
            margin-top: 0px;;
            padding-top: 20px;
        }
        h1{
            color: green;
            font-size: 50px;}

        .hot-deals > h2{
            padding-top: 20px;
            text-align: center;
            font-size: 30px;
        }

        .hot-deals > .juice{
            position: relative;
            padding-top: 0px;
        }
        .hot-deals > .meat{
            position: absolute;
            height: 300px;
            margin-top: 350px;
            margin-left: -300px;
        
        }
        .text-deals{
            float: right;
            padding-right: 200px;
            padding-top: 200px;
            font-size:  20px;
            text-align: left;
            margin-right: 300px;
        }
        .offers{
            text-align: left;
        }
  span{
    color: green;
    }

    #contact{
        background-color: #FFD77C;
        position:relative;
        padding-left: 700px;
        padding-right: 500px;
        font-size: 20px;
        margin-bottom: 0px;
        text-align: center;
        }

.row{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;}

input{border-radius: 50px;
    padding-left: 20px;
    padding: 20px;
    border: none;
    height: 10px;
    width: 400px;}

#footer{
    background-color: #C9ECB5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
    padding-top: 50px;
    margin-top: 0px;
   }
   .column{
    display: table;
    justify-content: space-around;
    flex-direction: row;
    float: left;
    width: 25%
    }
    .column > p{
        font-size: 20px;
    }
   .content{
    padding: 10px;
    margin: 10px 10px 10px 0px;
    }
#time{
    margin-right: 20px;
    margin-right: 20px;
    border-right: dashed #95b980;
    }
#location{
    margin-left: 20px;
    }
#social-media{
    margin-left: 50px;
    justify-content: right;
    }
    
#icon{
        float: right;
        width: 10%;
        margin-top: 10px;
        display:flex;
        flex-wrap: wrap;
        align-items: center; 
        z-index: 1;
     }
     .insta{
         border-radius: 1em;
         position: relative;
         margin-bottom: 75px;
         float: right;
    
     }
     #send{position: absolute;
         margin-top: 50px;
        align-content: center;
        margin-bottom: 75px;
         
     }
     #button{
        color: rgb(255,255,255);
        background-color: #6CB840;
        border-radius: 100px;
        padding: 5px;
        margin: 10px;
        width: 400px;
        height: 30px;
        }